{% form_theme form 'admin/form_theme/admin_question_form_theme.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.questions) }}
    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
